version: '3.7'

services:
  php:
    volumes:
      - <path_to_solution>:/usr/src/app
    environment:
      XDEBUG_CONFIG: remote_host=host.docker.internal remote_port=9001 remote_connect_back=0
      RUN_ENVIRONMENT: docker-dev # allow to override the run environment set in docker-compose
  web:
    volumes:
      - <path_to_solution>:/usr/src/app
      - <path_to_solution>:/etc/nginx/conf.d/default.conf