version: '3.7'

services:
  php:
    volumes:
      - <path_to_solution>:/usr/src/app

  web:
    volumes:
      - <path_to_solution>:/usr/src/app
      - <path_to_solution>:/etc/nginx/conf.d/default.conf