{% extends "::base.html.twig" %}
{% block title %}Howe - MBTA Test Page{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">MBTA Test Page</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <i class="fa fa-subway fa-fw reset_mbta"></i> <a href="https://cdn.mbta.com/sites/default/files/route_pdfs/2019-fall/2019-10-21-cr-franklin-foxboro-pilot-accessible.pdf" target="_blank">MBTA</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="mbta"><h2 class="text-center bg-warning">DISABLED</h2></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{% endblock %}

{% block style %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/Mbta.js') }}"></script>
    <script>
        $(function () {
            //$('.mbta').Mbta({baseUrl: "{{ baseUrl }}"});
            //$('body').on('click', '.reset_mbta', () => {
            //    performReset("{{ baseUrl }}api/mbta/reset");
            //});
        });

        function performReset(endpoint) {
            $.ajax({
                url: endpoint,
                method: 'GET',
                dataType: 'json',
                async: true,
                cache: false,
                timeout: 5 * 1000,
                success: function (data, status) {
                    if(status === 'timeout'){
                        alert('Time out!');
                    }
                    if(status === 'nocontent'){
                        alert('No Content');
                    }
                    alert(data);
                },
                error: function(xhr, status){
                    if(status === 'timeout'){
                        alert('Time out!');
                    }
                    if(status === 'nocontent'){
                        alert('No Content');
                    }
                    alert('failed to clear cache');
                }
            });
        }
    </script>
{% endblock %}