{% extends "::base.html.twig" %}
{% block title %}Howe - Weather Test Page{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Weather Test Page</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <i class="fa fa-cloud fa-fw reset_weather"></i> Weather
                    </div>
                </div>
                <div class="panel-body">
                    <div class="weather" data-token="{{ authToken }}"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{% endblock %}

{% block style %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/WeatherInfo.js') }}"></script>
    <script>
        let postal_code = '01757';
        $(function () {
            $('.weather').WeatherInfo({baseUrl: "{{ baseUrl }}", postalCode: postal_code});
            $('body').on('click', '.reset_weather', () => {
                performReset("{{ baseUrl }}api/weather/" + postal_code + "/reset");
            });
        });

        function performReset(endpoint) {
            $.ajax({
                url: endpoint,
                method: 'GET',
                dataType: 'json',
                async: true,
                cache: false,
                timeout: 10 * 1000,
                success: function (data, status) {
                    if (status === 'timeout') {
                        alert('Time out!');
                    }
                    if (status === 'nocontent') {
                        alert('No Content');
                    }
                    alert(data);
                },
                error: function (xhr, status) {
                    if (status === 'timeout') {
                        alert('Time out!');
                    }
                    if (status === 'nocontent') {
                        alert('No Content');
                    }
                    alert('failed to clear cache');
                }
            });
        }
    </script>
{% endblock %}