{% extends 'base.html.twig' %}
{% block title %}Calendar Create{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Calendar create</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary" type="submit" value="Create" />
        {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a class="btn" href="{{ path('admin_calendar_index') }}">Back to the list</a>
        </div>
    </div>

{% endblock %}
